:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #eb5eeb;
  text-decoration: inherit;
}
a:hover {
  color: #f253e5;
}

body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center;
  min-width: 320px; */
  /* min-height: 100vh; */
 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fa64e6aa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #fa7df0aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ee59f3;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */




 .tap {
  margin-top: 10px;
}

#result{
  margin-left: 38px;
  margin-top: 20px;
}

#toggleButton{
  margin-top: 20px;
}

#text{
 width: 300px;
 margin-top: 10px;
}

#btn-increase{
  margin-left: 68px;
  margin-top: 10px;
} 

 #first{
  border: 5px solid rgb(241, 128, 217) ;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 34px;
  width: 200px;
}

#progress-bar{
  border: 15px solid rgb(228, 42, 219) 
} 

.like{
  margin-top: 30px;
  margin-left: 90px;
}

.counter{
  margin-left: 40px;
} 

/* /// */
h3 {
  margin: 0;
  padding-bottom: .3em;
  padding-right: 20px;
  font-size: 1.1em;
}

p {
  margin: 0;
  padding: 0 0 .5em;
}

.pane {
  background: #eb76e5;
  padding: 10px 20px 10px;
  border-top: solid 2px #7c1bbd;
  position: relative;
}

.remove-button {
  position: absolute;
  font-size: 110%;
  top: 0;
  color:rgb(20, 243, 243);
  right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}

#container{
  width: 600px;
}

.selected {
  background: rgb(226, 81, 255);
  width: 149px;
}

li {
  cursor: pointer;
}

#ul{
  margin-top: 30px;
}

/* /// */

#gerta{
  width: 140px;
  margin-top: 30px;
  margin-left: 60px;
}

#cat{
  width: 100px;
  cursor:
  pointer;
  margin-left: 30px;
}

#starr{
  border: 2px solid rgb(226, 106, 206);
  width: 420px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #dd9dd8; 
  margin-top: 30px;
}

#ul li{
  width: 90px;
    border: #be43c9 1px solid;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px #e485dc;
}

li {
  display: list-item;
  text-align: center;
}

#ul {
  user-select: none;
  display: flex;
  gap: 9px;
  list-style: none;
  margin-left: -30px;
  
}

#hu{
  width: 160px;
  margin-top: 40px;
  margin-left: 60px;
}

.slider {
  border-radius: 8px;
  background: #e8a2ee;
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 310px;
  height: 20px;
  margin: 5px;
  margin-top: 30px;
}

.thumb{
  height: 22px;
  width: 22px;
  left: 45%; top: 45%;
  background:  linear-gradient(rgb(149, 43, 153), rgb(148, 248, 248));
  transform: rotate(-45deg);
}

  